<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %> 

<body>

<%- include('../partials/header') %> 

<main class="admin">
    <h1>Editar Perfil</h1>
    <form action="/users/update?_method=PUT" method="POST" id='form-profileUpdate' enctype="multipart/form-data">
        <p class="text-danger text-center small" id='error-empty'></p>
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
                <span class="error" id="name-error"> <%= locals.errors && errors.name ? errors.name.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="surname" >Apellido:</label>
                <input class="form-control" type="text" id="surname" name="surname" value="<%= user.surname %>">
                <span class="error" id="surname-error"> <%= locals.errors && errors.surname ? errors.surname.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="age">Edad:</label>
                <input class="form-control" type="number" id="age" name="age" value= <%= user.age %> >
                <span class="error" id="age-error"> <%= locals.errors && errors.age ? errors.age.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="city" >Ciudad:</label>
                <input class="form-control" type="text" id="city" name="city" value="<%= user.city %>" >
                <span class="error" id="city-error"> <%= locals.errors && errors.city ? errors.city.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label>Email</label>
                <input class="form-control" type="email" name="email" id="email" value="<%= user.email %>" readonly>
                <span class="error" id="email-error"> <%= locals.errors && errors.email ? errors.email.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="passOld">Contraseña</label>
                <input class="form-control" type="password" name="passOld" id="passOld">
                <span class="error" id="passOld-error"> <%= locals.errors && errors.passOld ? errors.passOld.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="pass">Nueva contraseña</label>
                <input class="form-control" type="password" name="pass" id="pass">
                <span class="error" id="pass-error"> <%= locals.errors && errors.pass ? errors.pass.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="pass2">Confirma contraseña</label>
                <input class="form-control" type="password" name="pass2" id="pass2">
                <span class="error" id="pass2-error"> <%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></span>
            </div>
            <div class="img-edit">
                <img width="150" height="100" src="/images/users/<%= user.avatar %>" alt="">
            </div>
            <div class="input-box-form">
                <label for="avatar">Cambiar avatar</label>
                <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*">
                <span class="error" id="avatar-error"> <%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>
            </div>
            <div class="edit-guardar">
                <button type="submit">Actualizar</button>
            </div>
        
            <div class="edit-guardar">
                <form action="/users/delete?_method=DELETE" method="POST">
                    <button type="submit">Eliminar cuenta</button>
                </form>
            </div>
        </div>
      
    </form>
</main>
<%- include('./partials/scripts') %>  
</body>
</html>