<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="login">

    <%- include('../partials/header') %>
    
    <main class="login">
        <h1>Ingresa</h1>

      <form action="" method="POST">
         <div class="box-form-login">
            
            <div class="input-box-form-login">
                <i class="fas fa-user"></i>
                <input type="email" name="email" id="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null  %>">
                <span class="errors"> <%= locals.errors && errors.email ? errors.email.msg : null %></span>
            </div>
            <div class="input-box-form-login">
                <i class="fas fa-lock"></i>
                <input type="password" name="pass" id="pass" placeholder="Contraseña">
                <span class="errors"> <%= locals.errors && errors.pass ? errors.pass.msg : null %></span>
            </div>
            
                <div class="checkbox">
                     <input type="checkbox" id="recordar" name="recordar">
                    <label for="recordar">Recordarme</label>
                </div>              
            <div class="send">
                <button type="submit">Enviar</button>
            </div>
        </div>
        </form>
    </main>
    <%- include('../partials/footer') %>   
</body>
</html>