<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: "Perfil" }) %>

    <body>

        <%- include('../partials/header') %>

            <main class="profile">
                <h1>Mi Perfil</h1>

                <section class="datos-perfil">
                    <div>
                    <label>Nombre:</label>
                    <span>
                        <%= user.name %>
                    </span>
                </div>
                <div>
                    <label>Apellidos:</label>
                    <span>
                        <%= user.last_name %>
                    </span>
                </div>
                <div>
                    <label>Edad:</label>
                    <span>
                        <%= user.age %>
                    </span>
                </div>
                <div>
                    <label>Ciudad:</label>
                    <span>
                        <%= user.city %>
                    </span>
                </div>
                <div>
                    <label>Email</label>
                    <span>
                        <%= user.email %>">
                    </span>
                </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>