<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: "Perfil" }) %>

    <body>

        <%- include('../partials/header') %>

            <main class="profile">
                <h1>Mi Perfil</h1>

                <section class="datos-perfil">
                    <div>
                    <label>Nombre:</label>
                    <span>
                        <%= userLogin.name %>
                    </span>
                </div>
                <div>
                    <label>Apellido:</label>
                    <span>
                        <%= userLogin.surname%>
                    </span>
                </div>
                <div>
                    <label>Edad:</label>
                    <span>
                        <%= userLogin.age %>
                    </span>
                </div>
                <div>
                    <label>Ciudad:</label>
                    <span>
                        <%= userLogin.city %>
                    </span>
                </div>
                <div>
                    <label>Email</label>
                    <span>
                        <%= userLogin.email %>">
                    </span>
                </div>

                <a  href="/users/edit">Editar mi perfil</a>
                <div>
                    <form action="/users/delete/<%= userLogin.id %>?_method=DELETE" method="POST">
        
                        <button type="submit">Eliminar Usuario</button>
            
                    </form>
                </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>