<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: "Mi perfil" }) %>

    <body>

        <%- include('../partials/header') %>
        
         <main class="profile">
                <h1>Mi Perfil</h1>
               
              <section class="datos-perfil">
                
                    <div>
                    <label>Nombre:</label>
                    <span>
                    <%= userLogin.name %>
                    </span>
                    
                </div>
                <div>
                    <label>Apellido:</label>
                    <span>
                        <%= userLogin.surname %>
                    </span>
                </div>
                <div>
                    <label>Edad:</label>
                    <span>
                        <%= userLogin.age %>
                    </span>
                </div>
                <div>
                    <label>Ciudad:</label>
                    <span>
                        <%= userLogin.city %>
                    </span>
                </div>
                <div>
                    <label>Email:</label>
                    <span>
                        <%= userLogin.email %>
                    </span>
                </div>
                <div class="edit-btn">
                <a  href="/users/edit">Editar perfil</a>
                </div>
                
                </section>
             
            </main>
        
            <%- include('../partials/footer') %>
    </body>

</html>