<header>
    <div class="logo">
         <% if (locals.userLogin) { %>
            <% if (userLogin.rolId === 2) { %>
                <img width="150" height="100" src="/images/users/admin.jpg" alt="">
                <p class="welcome">Hola <%= userLogin.name %>!!</p>
            <% }else if(userLogin.rolId === 1) { %>
                <img width="150" height="100" src="/images/users/<%= userLogin.avatar %>" alt="">
                <p class="welcome">Hola <%= userLogin.name %>!!</p>
             <% }%>
          <% } %>
    
          <% if (!locals.userLogin) { %>
            <a href="/"><img src="/images/logodd.jpg"></a>
          <% } %> 
    </div>
    <section class="header-container">
        <div class="menu-hamburguesa">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <nav class="menu-desplegable">
                <ul>
                    <% if (locals.userLogin) { %>
                        <% if (userLogin.rolId === 2) { %>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/admin/productsTable">Administración</a></li>
                            <li><a href="/users/logout">Cerrar sesión</a></li>
                        <% }else if(userLogin.rolId === 1) { %>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/users/profile/<%= userLogin.id %>">Mi perfil</a></li>
                            <li><a href="/users/logout">Cerrar sesión</a></li>
                            <li><a href="/">Ver productos</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="/recetas">Recetas</a></li>
                        <% }%>
                     <% } %>
    
                     <% if (!locals.userLogin) { %>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/users/login">Mi Cuenta</a></li>
                        <li><a href="/users/register">Registrarme</a></li>
                        <li><a href="/">Ver productos</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/recetas">Recetas</a></li>
                     <% } %> 

                </ul>
            </nav>
        </div>
        <div class="barra-busqueda">
            <form  action="/search"><input type="text" class="nav-search-input" 
                   name="busqueda" placeholder="Buscar productos">
                    <button type="submit"><i class="fas fa-search"></i></button></i></a>
            </form>
        </div>
       
        <div class="menu-derecho">
            <nav>
                <ul>
                                   
                <% if (locals.userLogin) { %>
                    <% if (userLogin.rolId === 2) { %>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/admin/productsTable">Administrar</a></li>
                        <li><a href="/users/logout">Cerrar sesión</a></li>
                    <% }else if(userLogin.rolId === 1) { %>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/users/profile/<%= userLogin.id %>">Mi perfil</a></li>
                        <li><a href="/users/logout">Cerrar sesión</a></li>
                        <a href="/products/cart" class="carrito-desktop"><i class="far fa-shopping-cart"></i></a>
                    <% } %>
                 <% } %>

                 <% if (!locals.userLogin) { %>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/users/login">Mi Cuenta</a></li>
                    <li><a href="/users/register">Registrarme</a></li>
                 <% } %>                     
                
                </ul>
            </nav>
        </div>
    </section>
   
</header>