<header>
    <div class="logo">
         <% if (locals.userLogin) { %>
            <% if (userLogin.rolId === 2) { %>
                <img width="150" height="100" src="/images/users/admin.jpg" alt="">
                <p class="welcome">Hola <%= userLogin.name %>!!</p>
            <% }else if(userLogin.rolId === 1) { %>
                <img width="150" height="100" src="/images/users/<%= userLogin.avatar %>" alt="">
                <p class="welcome">Hola <%= userLogin.name %>!!</p>
             <% }%>
          <% } %>
    
          <% if (!locals.userLogin) { %>
            <a href="/"><img src="/images/logodd.jpg"></a>
          <% } %> 
    </div>
    <section class="header-container">
        <div class="menu-hamburguesa">
            <input type="checkbox" id="menu">
            <label class="hint--top" aria-label="Menú" for="menu"><i class="fas fa-bars"></i></label>
            <nav class="menu-desplegable">
                <ul>
                    <% if (locals.userLogin) { %>
                        <% if (userLogin.rolId === 2) { %>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/admin/productsTable">Administración</a></li>
                            <li><a href="/users/logout">Cerrar sesión</a></li>
                        <% }else if(userLogin.rolId === 1) { %>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="/recetas">Recetas</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                            <li><a href="/users/profile/<%= userLogin.id %>">Mi perfil</a></li>
                            <li><a href="/users/logout">Cerrar sesión</a></li>
                            
                        <% }%>
                     <% } %>
    
                     <% if (!locals.userLogin) { %>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/recetas">Recetas</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                        <li><a href="/users/login">Mi Cuenta</a></li>
                        <li><a href="/users/register">Registrarme</a></li>
                         <% } %> 

                </ul>
            </nav>
        </div>
        <div class="barra-busqueda">
            <form id="form-search-header" action="/search"><input id="search-header" type="text" class="nav-search-input" 
                   name="busqueda" placeholder="Buscar productos">
                    <button type="submit"><i class="fas fa-search"></i></button></i></a>
            </form>
        </div>
        
        <% if (locals.userLogin) { %>
         <% if (userLogin.rolId === 1) { %>
          <div class="menu-derecho-cart">
            <button type="button" class="nav-link btn-cart left-20 hint--top" aria-label="Mis compras" data-bs-toggle="modal" data-bs-target="#modal-carrito">
              <i class="fas fa-shopping-cart"></i>
              <span id="span-cantidad" class="badge rounded-pill"></span>
            </button>
            <a href="/users/profile/<%= userLogin.id %>" class="hint--top" aria-label="Mi perfil"><i class="fas fa-user-edit"></i></a>
            <a href="/users/logout" class="hint--top" aria-label="Cierra cesión"><i class="fas fa-user-lock"></i></a>
            </div>
           <% }else if(userLogin.rolId === 2) { %>
            <div class="menu-derecho-cart">
              <a href="/admin/productsTable" class="hint--top" aria-label="Administrar"><i class="fas fa-edit"></i></a>
              <a href="/users/logout" class="hint--top" aria-label="Cierra cesión"><i class="fas fa-user-lock"></i></a>
              </div>
          <% } %> 
        <% } %> 
          
        <% if (!locals.userLogin) { %>
         <div class="menu-derecho-cart">
          <a href="/users/register" class="hint--top" aria-label="Registrate"><i class="far fa-address-card"></i></a>
          <a href="/users/login" class="hint--top" aria-label="Ingresa"><i class="fas fa-sign-in-alt"></i></a>
          <a href="/" class="hint--top" aria-label="Inicio"><i class="fas fa-home"></i></a>
          
         </div>
        <% } %> 
    </section>
   
</header>

<aside>
    <!-- Modal -->
    <div class="modal fade" id="modal-carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" id="miCarrito">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mis compras</h5>
          </div>
          <div class="modal-body" id="list-cart" >
            <div class="table-responsive">
              <table class="table">
                <thead id="cart-head">
                  <tr>
                    <th colspan="3">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">SubTotal</th>
                  </tr>
                </thead>
                <tfoot id="cart-footer">
                  <tr>
                    <th colspan="4"  class="text-end" id="totaltitle">TOTAL:</th>
                    <th >
                      <h5 id="total"></h5>
                    </th>
                  </tr>
                </tfoot>
                  <tbody id="cart-shop">
                    <span id="cart-empty" class="text-danger">El carrito no tiene productos agregados</span>
                  </tbody>
                 
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="botones" id="btn-cart-empty">Vaciar</button>
            <button type="button" class="botones" data-bs-dismiss="modal">Continuar</button>
            <a href="/users/buyForm" class="botones" id="btn-next-buy">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <script>
    document.getElementById('form-search-header').addEventListener('submit', e => {
      e.preventDefault()
      document.getElementById('search-header').value !== '' && document.getElementById('form-search-header').submit()
    })
    </script>