<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main class="detail">
                <section>
                    <h4><%= producto.nombre %></h4>
                    <div class="detalle">

                        <div>
                            <img src="/images/productos/<%= producto.imagen %>" >
                        </div>
                        <div class="content">
                            <div class="redes">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-telegram"></i>
                                <i class="fab fa-twitter"></i>
                            </div>

                            <div class="precio">
                                <span>$<%= producto.precio %></span>
                            </div>

                            <div class="button-cantidad">
                                <button type="button" class="menos">-</button>
                                <input type="number" name="cantidad" id="cantidad">
                                <button type="button" class="mas">+</button>
                            </div>

                            <div class="box-button">
                                <button type="submit">COMPRAR AHORA</button>
                                <button type="reset">AGREGAR<i class="fas fa-shopping-cart"></i></button>
                            </div>
                            <p class="description">
                                <%= producto.descripcion %> 
                            </p>

                        </div>
                    </div>
                    <div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>