<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %> 

  <body>
    <%- include('./partials/header') %>
    
    <main class="main-products">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image:url('/images/banner/8-86625_cakes-hd.jpg')"></div>
          <div class="carousel-item" style="background-image:url('/images/banner/Colorful-cream-cakes.jpg')"></div>
          <div class="carousel-item" style="background-image:url('/images/banner/pastel-pastel-de-chocolate-papel-pintado-3554x1999_53.jpg')"></div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        <div class="nav-head">
        <nav>
          <ul>
            <li>
              <a href="/products/categoriesPos">Postres</a>
            </li>
            <li>
              <a href="/products/categoriesMuf">Muffins cupcakes</a>
            </li>
            <li>
              <a href="/products/categoriesTor">Tortas</a>
            </li>
            <li>
              <a href="/products/categoriesSal">Saludable</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="banner">
        <img src="/images/banner.png" class="banner-img" alt="" />
      </div>

      <section class="products-destac">
        <h2>Productos destacados</h2>
         
        <div class="glider-contain">
          <div class="glider">
            <% products.forEach(product => { %>
               <% if (product.price >= 1000) { %>
                <article>
                  <% if(product.celiac === 1){ %>
                    <img class="tacc" src="/images/sin-tacc.png">
                  <% } %> 
                  <% if(product.diabetic === 1){ %>
                    <img class="lapdi" src="/images/lapdi.png">
                  <% } %>
                    <div class="product-caja-img">
                      <img src="/images/productos/<%=product.image%>" height="349px" alt="" />
                    </div>
                    <div class="product-info">
                      <h4><%= product.name %></h4>
                      <% if (locals.userLogin) { %>
                        <% if (userLogin.rolId === 1) { %>
                        <div class="card-cart hint--top" aria-label="Agregar al carrito">
                        <i onclick="addItem(event,'<%=product.id%>')" class="fas fa-shopping-cart"></i>
                        </div>   
                          <% } %> 
                        <% } %> 
                      <a href="/products/detail/<%= product.id %>">Ver detalles</a>
                      <span>$<%= product.price %> </span>
                    </div>
                  </article>
                <% } %>   
            <% }) %>
          </div>
        
          <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-circle-left"></i></button>
          <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-circle-right"></i></button>
          <div role="tablist" class="dots"></div>
        </div>
        
      </section>
     
      <section class="news">
        <h2>Ofertas</h2>

        <div class="news-list">
          <ul>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="#">Salud</a></li>
            <li><a href="/recetas">Recetas</a></li>
          </ul>
        </div>

        <div class="glider-contain2">
          <div class="glider2">
            
             <% products.forEach(product => { %>
              <% if (product.price <= 1200) { %>
                 <article>
                  <% if(product.celiac === 1){ %>
                    <img class="tacc" src="/images/sin-tacc.png">
                  <% } %> 
                  <% if(product.diabetic === 1){ %>
                    <img class="lapdi" src="/images/lapdi.png">
                  <% } %>                
                    <div class="product-caja-img">
                      <img src="/images/productos/<%=product.image%>" height="349px" alt="" />
                    </div>
                    <div class="product-info">
                      <h4><%= product.name %></h4>
                      <% if (locals.userLogin) { %>
                        <% if (userLogin.rolId === 1) { %>
                        <div class="card-cart hint--top" aria-label="Agregar al carrito">
                        <i onclick="addItem(event,'<%=product.id%>')" class="fas fa-shopping-cart"></i>
                        </div>   
                          <% } %> 
                        <% } %> 
                      <a href="/products/detail/<%= product.id %>">Ver detalles</a>
                      <span>$<%= product.price %> </span>
                    </div>
                  </article>
              <% } %>
            <% }) %>
            
          </div>
        
          <button aria-label="Previous" class="glider-prev2"><i class="fas fa-chevron-circle-left"></i></button>
          <button aria-label="Next" class="glider-next2"><i class="fas fa-chevron-circle-right"></i></button>
          <div role="tablist" class="dots2"></div>
        </div>
          
      </section>
    

     <%- include('./partials/footer') %> 
     <%- include('./partials/scripts') %>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="/javascripts/index.js"></script>
     <script src="/javascripts/index2.js"></script>
    </main>
  </body>
</html>
