<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %> 

  <body>

    <%- include('./partials/header') %> 
    
    <main class="main-products">
      <div class="nav-head">
        <div class="nav-head-img">
          <img src="/images/productos/image-2.jpeg" class="back-img" alt="" />
        </div>
        <nav>
          <ul>
            <li>
              <a href="">Postres</a>
            </li>
            <li>
              <a href="">Muffins cupcakes</a>
            </li>
            <li>
              <a href="">Tortas</a>
            </li>
            <li>
              <a href="">Saludable</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="banner">
        <img src="/images/banner.png" class="banner-img" alt="" />
      </div>

      <section class="products-destac">
        <h2>Productos destacados</h2>
         
        <div class="glider-contain">
          <div class="glider">
            <% productos.forEach(producto => { %>

              <% if (producto.categoria === 'Postres') { %>
                 
                <article>
                    <div class="product-caja-img">
                      <img src="/images/productos/<%=producto.imagen%>" height="349px" alt="" />
                    </div>
                    <div class="product-info">
                      <h4><%= producto.nombre %></h4>
                      <a href="/products/detail">Ver detalles</a>
                      <span>$<%= producto.precio %> </span>
                    </div>
                  </article>
               <% } %>
             <% }) %>
          </div>
        
          <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-circle-left"></i></button>
          <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-circle-right"></i></button>
          <div role="tablist" class="dots"></div>
        </div>
        
      </section>
     
      <section class="news">
        <h2>Últimas novedades</h2>

        <div class="news-list">
          <ul>
            <li><a href="#">Nuevo</a></li>
            <li><a href="#">Salud</a></li>
            <li><a href="#">Recetas</a></li>
          </ul>
        </div>

        <div class="glider-contain2">
          <div class="glider2">
            <% productos.forEach(producto => { %>

              <% if (producto.categoria === 'Tortas') { %>
                 
                <article>
                    <div class="product-caja-img">
                      <img src="/images/productos/<%=producto.imagen%>" height="349px" alt="" />
                    </div>
                    <div class="product-info">
                      <h4><%= producto.nombre %></h4>
                      <a href="/products/detail">Ver detalles</a>
                      <span>$<%= producto.precio %> </span>
                    </div>
                  </article>
               <% } %>
             <% }) %>
          </div>
        
          <button aria-label="Previous" class="glider-prev2"><i class="fas fa-chevron-circle-left"></i></button>
          <button aria-label="Next" class="glider-next2"><i class="fas fa-chevron-circle-right"></i></button>
          <div role="tablist" class="dots2"></div>
        </div>
          
      </section>
    </main>

    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/index2.js"></script>
    
  </body>
</html>
