<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-products-views">
      <section class="products-destac">
        <h2>Muffins y Cupcakes</h2>
        
        <% productos.forEach(producto => { %>

          <% if (producto.categoria === 'Muffins cupcakes') { %>
             
            <article>
              <% if(producto.celiacos === true){ %>
                <img class="tacc" src="/images/sin-tacc.png">
              <% } %> 
                <div class="product-caja-img">
                  <img src="/images/productos/<%=producto.imagen%>" height="349px" alt="" />
                </div>
                <div class="product-info">
                  <h4><%= producto.nombre %></h4>
                  <a href="/products/detail/<%= producto.id %>">Ver detalles</a>
                  <span>$<%= producto.precio %> </span>
                </div>
              </article>
           <% } %>
         <% }) %>
      
         
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
