<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-products-views">
      <section class="products-destac">
        <h2>Muffins y Cupcakes</h2>
        
        <% muffins.forEach(product => { %>
             
          <article>
            <% if(product.celiac === 1){ %>
              <img class="tacc" src="/images/sin-tacc.png">
            <% } %>
            <% if(product.diabetic === 1){ %>
              <img class="lapdi" src="/images/lapdi.png">
            <% } %> 
              <div class="product-caja-img">
                <img src="/images/productos/<%=product.image%>" height="349px" alt="" />
              </div>
              <div class="product-info">
                <h4><%= product.name %></h4>
                <a href="/products/detail/<%= product.id %>">Ver detalles</a>
                <span>$<%= product.price %> </span>
              </div>
            </article>
         
       <% }) %>
      
         
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
