<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main class="admin">
    <h1>Agregar producto</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                <span class="error"> <%= locals.errores && errores.name ? errores.name.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" value= <%= locals.old && old.price ? old.price : null%> >
                <span class="error"> <%= locals.errores && errores.price ? errores.price.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="discount">Descuento:</label>
                <input type="number" id="discount" name="discount" value=<%= locals.old && old.discount ? old.discount : null %> >
                <span class="error"><%= locals.errores && errores.discount ? errores.discount.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="category" >Categoría:</label>
                <select name="category" id="category" >
                    <option value="" hidden selected>Elegí</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>" <%= locals.old && old.category.name === category.name ? 'selected' : null %> ><%= category.name %> </option>
                        <% }) %>
                    <span class="error"><%= locals.errores && errores.category ? errores.category.msg : null %> </span>
                </select>
            </div>
            <div class="input-box-form">
                <label for="Image">Imagen</label>
                <input type="file" name="image" id="image" accept="image/*">
            </div>
            <div class="description-box">
                <label for="description">Descripción:</label>
                <textarea name="description" id="description"> <%= locals.old && old.description ? old.description : null %> </textarea>
               <span class="error"> <%= locals.errores && errores.description ? errores.description.msg : null %> </span>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="celiac" name="celiac">
                <label for="celiac">Celiaquía</label>
                <input type="checkbox" id="diabetic" name="diabetic">
                <label for="diabetic">Diabetes</label>
            </div>
            <div class="guardar">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</main>
    
</body>
</html>