<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %> 

  <body>

    <%- include('./partials/header') %> 
    
    <main class="main-products">
     
      <section class="products-destac">
        <h2>Administración</h2>
        
        <% products.forEach(product => { %>
          <article>
            <% if(product.celiac === 1){ %>
                  <img class="tacc" src="/images/sin-tacc.png">
                <% } %>
                <% if(product.diabetic === 1){ %>
                  <img class="lapdi" src="/images/lapdi.png">
                <% } %>
              <div class="product-caja-img">
                <img src="/images/productos/<%=product.image%>" height="349px" alt="" />
              </div>
              <div class="product-info">
                <h4><%= product.name %></h4>
                <a href="/admin/remove/<%= product.id %> ">Eliminar</a>
                <a  href="/admin/edit/<%= product.id %>">Editar</a>
              </div>
            </article>
      <% }) %>
      

      </section>
    </main>

  </body>
</html>
