<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main class="admin">
    <h1>Agregar producto</h1>
    <form action="" method="POST" id='form-product' enctype="multipart/form-data">
        <p class="text-danger text-center small" id='error-empty'></p>
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                <span class="error" id='name-error'> <%= locals.errores && errores.name ? errores.name.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="price">Precio:</label>
                <input class="form-control" type="number" id="price" name="price" value= <%= locals.old && old.price ? old.price : null%> >
                <span class="error" id='price-error'> <%= locals.errores && errores.price ? errores.price.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="discount">Descuento:</label>
                <input class="form-control" type="number" id="discount" name="discount" value=<%= locals.old && old.discount ? old.discount : null %> >
                <span class="error" id='discount-error'><%= locals.errores && errores.discount ? errores.discount.msg : null %> </span>
            </div>
            <div class="input-box-form">
                <label for="category" >Categoría:</label>
                <select class="form-select" name="category" id="category" >
                    <option value="" hidden selected>Elige</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>" <%= locals.old && old.category.name === category.name ? 'selected' : null %> ><%= category.name %> </option>
                        <% }) %>
                    <span class="error" id='category-error'><%= locals.errores && errores.category ? errores.category.msg : null %> </span>
                </select>
                
            </div>
            <div class="input-box-form">
                <label for="image" >Agregar imagen</label>
                <input class="form-control" type="file" name="image" id="image" accept="image/*">
                <span class="error" id='image-error'><%= locals.errores && errores.images ? errores.images.msg : null %> </span>
            </div>
            <div class="description-box">
                <label for="description">Descripción:</label>
                <textarea class="form-control" name="description" id="description"> <%= locals.old && old.description ? old.description : null %> </textarea>
               <span class="error" id='description-error'> <%= locals.errores && errores.description ? errores.description.msg : null %> </span>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="celiac" name="celiac">
                <label for="celiac">Celiaquía</label>
                <input type="checkbox" id="diabetic" name="diabetic">
                <label for="diabetic">Diabetes</label>
            </div>
            <div class="guardar">
                <button type="submit">Guardar</button>
            </div>
           
        </div>
      
    </form>
</main>
<%- include('./partials/scripts') %> 
</body>
</html>

