<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %> 

  <body>

    <%- include('./partials/header') %> 
    
    <main class="main-products">
     
      <section class="products-destac">
        <h2>Administración</h2>
        
        <% productos.forEach(producto => { %>
            <article>
                <div class="product-caja-img">
                  <img src="/images/productos/<%=producto.imagen%>" height="349px" alt="" />
                </div>
                <div class="product-info">
                  <h4><%= producto.nombre %></h4>
                  <form action="/admin/delete<%= producto.id %>?_method=DELETE" method="POST">
                    <button type='submit'>Eliminar</button>
                    </form>
                  <a  href="/products/edit/<%= producto.id %>">>Editar</a>
                </div>
              </article>
        <% }) %>
      

      </section>
    </main>

  </body>
</html>
