<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main class="admin">
    <h1>Edición de producto</h1>
    <form action="/admin/edit/<%= producto.id %>?_method=PUT" method="POST">
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= producto.nombre %>">
                <span class="text-danger small"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %></span>           
            </div>
            <div class="input-box-form">
                <label for="price" >Precio:</label>
                <input type="number" name="precio" id="precio" value=<%= producto.precio %>>
                <span class="text-danger small"><%= locals.errores && errores.precio ? errores.precio.msg : 
            </div>
            <div class="input-box-form">
                <label for="category" >Categoría:</label>
                <select name="category" id="category" >
                    <% categorias.forEach(categoria => { %>
                     <option value="<%= categoria %>" <%= producto.categoria.toLowerCase() === categoria.toLowerCase() ? 'selected' : null %> ><%= categoria %> </option>
                    <% }) %>
                </select>
                <span class="text-danger small"><%= locals.errores && errores.categoria ? errores.categoria.msg : null %></span>
            </div>
            <div class="input-box-form">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="description-box">
                <label for="description">Descripción:</label>
                <textarea name="descripcion" id="" cols="30" rows="3"><%= producto.descripcion %></textarea>
                <span class="text-danger small"><%= locals.errores && errores.descripcion ? errores.descripcion.msg : null %></span>
            </div>
            
            <div>
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</main>
    
</body>
</html>