<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main class="admin">
    <h1>Cambiar rol de usuario</h1>
    <h5>1 = User</h5>
    <h5>2 = Admin</h5>
    <form action="/admin/userUpdate/<%= user.id %>?_method=PUT" method="POST" id='form-profileUpdate'>
        <p class="text-danger text-center small" id='error-empty'></p>
        <div class="box-form-admin">
            <div class="input-box-form">
                <label for="rol">Rol:</label>
                <input class="form-control" type="number" id="rol" name="rol" value= <%= user.rolId %> > 
            </div>
            <div class="buttons-admin">
                <div class="edit-guardar-admin">
                    <button type="submit">Actualizar</button>
                </div>
            </div>
        </div>
    </form>

<%- include('./partials/scripts') %> 
</main> 
</body>
</html>